<div class="w-100 pad-10">
  <h1 class="text-centre">This is my first Angular Application</h1>
</div>
<div class="w-100">
  <h3 class="text-centre" *ngIf="message">{{message | titlecase}}</h3>
</div>
<app-user (childEvent)="message = $event"></app-user>
<div class="w-100 pad-l-20">
  <h2>Routing and navigation</h2>
</div>
<nav class="w-100 pad-l-20 pad-t-20">
  <a routerLink="/organization" routerLinkActive="active">Organization</a>
  <a routerLink="/role" routerLinkActive="active">Role</a>
</nav>
<router-outlet></router-outlet>
<!-- Routed views go here-->